body {
    z-index: 0;
}
.pokemon-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1em;
    justify-content: center; 
    margin-bottom: 2rem;

}
h1 {
    font-family: sans-serif;
    margin: auto;
    color: aliceblue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

p {
    font-family: sans-serif;
    margin: auto;
    color: aliceblue;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.pagination {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

button {
    padding: 0.7rem;
    border: none;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}
button.active {
    background: rgb(207, 68, 68);
    color: white;
}
button[disabled] {
    cursor: not-allowed;
}
.por_pagina {
    margin-left: .5rem;
    font-family: sans-serif;
    color: aliceblue;
}



